<div class="jw-modal">
  <div class="jw-modal-body">
    <h1>{{errorMassage}}</h1>
    <div *ngIf="!showElem">
      <button class="btn btn-danger" (click)="closeModal('custom-modal-1');">Close</button>
    </div>
    <div *ngIf="showElem">
      <button class="btn btn-success" (click)="onDeleted(true)">Yes</button>
      <button class="btn btn-danger" (click)="onDeleted(false)">No</button>
    </div>
  </div>
</div>
<div class="jw-modal-background" (click)="closeModal('custom-modal-1')"></div>`
